/* GENERAL */

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    background-color: black;
}

/* DESCRIPTION STYLING */

.description-movement {
    width: 400px;
    height: 200px;
    object-fit: contain;
}



.description-space-button {
    width: 150px;
    height: 80px;
    object-fit: contain;
}

.d-none {
    display: none !important;
}

.bg-img {
    background-image: url("./img/3. Background/Light/full.png");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

#startGame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-button {
    width: 250px;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.size-description {
    height: 50px;
    width: 80px;
    object-fit: contain;
    padding-left: 30px;

}

.bg-img p {
    margin: 0;
    display: flex;
    justify-content: center;
}

#canvasFullscreen {
    position: relative;
    width: 720px;
    height: 480px;
}

.style-fullscreen-img {
    height: 25px;
    width: 25px;
    filter: invert(100);
    cursor: pointer;
    z-index: 1;
    position: relative;
    bottom: 40px;
    left: 680px;
}

.endscreen {
    display: cover;
    height: 100vh;
    width: 100%;
}